PORT=3000
EXTERNAL_API_ENABLED=false
EXTERNAL_API_URL=https://example.com/result
EXTERNAL_API_METHOD=GET
EXTERNAL_API_ISSUE_FIELD=issue
EXTERNAL_API_NUMS_FIELD=nums
EXTERNAL_API_SUM_FIELD=sum
EXTERNAL_API_RESULT_FIELD=result
